<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>React App</display-name>

    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>

    <!-- This configuration ensures that all requests are handled by index.html -->
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.html</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <!-- Add more servlet mappings for other routes as needed -->

</web-app>
